[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-commas = "*"
ipython = "*"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
drf-yasg = "*"
djangorestframework-camel-case = "*"

[requires]
python_version = "3.8"
