[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-commas = "*"
v = {editable = true,version = "*"}
ipython = "*"
black = "*"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
